@import "tailwindcss";

body {
  @apply bg-slate-100 text-slate-800;
  font-family: Inter, system-ui, sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

